.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 79vh;
}
.controls {
  width: 30vw;
 
}
.box {
  text-align: center;
  padding: 20vh 0;
  width: 30vw;
  height: 50vh;
  background-color: blueviolet;
  color: white;
}
.heading h1 {
  text-align: center;
  color: rebeccapurple;
  margin:2rem 0;
   padding: 0;
  font-weight: 900;
 
}
